body {
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 0;
  background: #fff0f0;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background: #b30000;
  color: #fff;
  padding: 20px 0;
}
.sidebar .logo {
  text-align: center;
  margin-bottom: -50px;
}

.sidebar-logo {
  width: 150px;       /* adjust size */
  margin: -14 ; 
  position: relative;   /* center horizontally */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 12px 20px;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
.sidebar ul li.active, .sidebar ul li:hover {
  background: #ff4d4d;
}

/* Main Content */
.main-content {
  margin-left: 240px;
  padding: 30px;
}

h2 {
  color: #b30000;
  margin-bottom: 20px;
}

.user-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(179,0,0,0.2);
  padding: 20px;
}

.user-info {
  margin-bottom: 20px;
}

.user-info h3 {
  margin: 0;
  color: #b30000;
}

.user-info p {
  margin: 8px 0;
  font-size: 15px;
}

.user-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.img-card {
  text-align: center;
}

.img-card h4 {
  color: #b30000;
  margin-bottom: 10px;
}

.img-card img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  border: 2px solid #b30000;
  object-fit: cover;
}
